<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LeagueFive</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<style>
    .imgClass{
        height: 100px;
        width: 100px;
    }
    .pontClass{
        font-size: 25px;
    }
</style>

<body>
<th:block th:replace="buttonHeader :: header"></th:block>
<div class="container" id="admin-list">
<table class="table table-striped table-hover text-center">

          <div> <img th:src="@{/img/에레디비지.png}" class="imgClass"></div>

    <div class="pontClass">2022-2023 Eredivisie</div>

    <th>순위</th>
    <th></th>
    <th>팀</th>
    <th>게임수</th>
    <th>승</th>
    <th>무</th>
    <th>패</th>
    <th>득점</th>
    <th>실점</th>
    <th>승점</th>
    <th>최근 5경기</th>


    <tr th:each="craw5 :${crawList5}">
        <th th:text="${craw5.id}"></th>
        <th>
            <img th:src="${imageUrls[craw5.id -1]}" alt="Team logo">
        </th>
        <!--                </tr>-->
        </th>
        <th th:text="${craw5.team}"></th>
        <th th:text="${craw5.games}"></th>
        <th th:text="${craw5.win}"></th>
        <th th:text="${craw5.draw}"></th>
        <th th:text="${craw5.lose}"></th>
        <th th:text="${craw5.plus}"></th>
        <th th:text="${craw5.minus}"></th>
        <th th:text="${craw5.diff}"></th>
        <th th:text="${craw5.point}"></th>
    </tr>
</table>
</div>
</body>
</html>