<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LeagueFour</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<style>
    .imgClass{
        height: 100px;
        width: 100px;
    }
    .pontClass{
        font-size: 25px;
    }
</style>


<body>
<th:block th:replace="buttonHeader :: header"></th:block>
<div class="container" id="admin-list">
<table class="table table-striped table-hover text-center">

       <div> <img th:src="@{/img/세리아A.png}" class="imgClass"></div>


        <div class="pontClass">2022-2023 serie A</div>

    <th>순위</th>
    <th></th>
    <th>팀</th>
    <th>게임수</th>
    <th>승</th>
    <th>무</th>
    <th>패</th>
    <th>득점</th>
    <th>실점</th>
    <th>승점</th>
    <th>최근 5경기</th>


    <tr th:each="craw4 :${crawList4}">
        <th th:text="${craw4.id}"></th>
        <th>
            <img th:src="${imageUrls[craw4.id -1]}" alt="Team logo">
        </th>
        <!--                </tr>-->
        </th>
        <th th:text="${craw4.team}"></th>
        <th th:text="${craw4.games}"></th>
        <th th:text="${craw4.win}"></th>
        <th th:text="${craw4.draw}"></th>
        <th th:text="${craw4.lose}"></th>
        <th th:text="${craw4.plus}"></th>
        <th th:text="${craw4.minus}"></th>
        <th th:text="${craw4.diff}"></th>
        <th th:text="${craw4.point}"></th>
    </tr>
</table>
</div>
</body>
</html>